# MongoDB

![memesmongo](../images/mongo.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#What-is-MongoDB?" data-toc-modified-id="What-is-MongoDB?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>What is MongoDB?</a></span></li><li><span><a href="#What-is-the-MongoDB-database?" data-toc-modified-id="What-is-the-MongoDB-database?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is the MongoDB database?</a></span></li><li><span><a href="#Database-creation" data-toc-modified-id="Database-creation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Database creation</a></span></li><li><span><a href="#Connection-with-Python" data-toc-modified-id="Connection-with-Python-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Connection with Python</a></span><ul class="toc-item"><li><span><a href="#We-connect-to-the-server" data-toc-modified-id="We-connect-to-the-server-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>We connect to the server</a></span></li><li><span><a href="#We-connect-to-the-database" data-toc-modified-id="We-connect-to-the-database-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>We connect to the database</a></span></li></ul></li><li><span><a href="#Basic-database-management-operations" data-toc-modified-id="Basic-database-management-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic database management operations</a></span><ul class="toc-item"><li><span><a href="#Create-and-delete-collections-from-python" data-toc-modified-id="Create-and-delete-collections-from-python-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create and delete collections from python</a></span></li><li><span><a href="#We-connect-to-a-specific-collection-to-make-the-queries" data-toc-modified-id="We-connect-to-a-specific-collection-to-make-the-queries-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>We connect to a specific collection to make the queries</a></span></li></ul></li><li><span><a href="#Queries-in-Mongo" data-toc-modified-id="Queries-in-Mongo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Queries in Mongo</a></span><ul class="toc-item"><li><span><a href="#find_one-method" data-toc-modified-id="find_one-method-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>find_one</code> method</a></span></li><li><span><a href="#find-method" data-toc-modified-id="find-method-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>find</code> method</a></span></li></ul></li><li><span><a href="#projection" data-toc-modified-id="projection-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>projection</a></span></li><li><span><a href="#Other-methods" data-toc-modified-id="Other-methods-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Other methods</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Typical-query-operators" data-toc-modified-id="Typical-query-operators-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Typical query operators</a></span><ul class="toc-item"><li><span><a href="#Greater-than-/-Less-than" data-toc-modified-id="Greater-than-/-Less-than-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Greater than / Less than</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-9.6"><span class="toc-item-num">9.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-9.7"><span class="toc-item-num">9.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-9.8"><span class="toc-item-num">9.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Query-7-from-the-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field." data-toc-modified-id="Query-7-from-the-lab-.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field.-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Query 7 from the lab . All the companies that have a null type of value on the category_code field.</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Insert" data-toc-modified-id="Insert-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Insert</a></span></li><li><span><a href="#Extra-info" data-toc-modified-id="Extra-info-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Extra info</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-Materials" data-toc-modified-id="Further-Materials-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Further Materials</a></span></li></ul></div>

## What is MongoDB?
   
MongoDB (humongous, "huge") is an open source, document-oriented, NoSQL database system.
Instead of storing data in tables, as is done in relational databases, MongoDB stores BSON data structures (a specification similar to JSON) with a dynamic schema, making data integration in certain applications easier. easier and faster.
MongoDB is a database suitable for use in production and with many features. This database is widely used in the industry, with implementations in companies such as MTV Network, Craigslist, Foursquare.
Source code is available for operating systems --> Windows, GNU/Linux, OS X and Solaris.

## What is the MongoDB database?

A database, that is, a structured way of storing and accessing data, more specifically, is a NoSQL database.
NoSQL is a very generic term used to describe any data store that does not use the legacy approach of related data tables.
This means that you are storing your data in an organized way, but not in rows and columns. An example of NoSQL databases could be anything from a library card catalog, to a more sophisticated data warehouse like MongoDB.
Since the range of what NoSQL means is so wide, we need to narrow down our definition further.
MongoDB is a NoSQL document database.
This means that data in MongoDB is stored as documents, these documents are in turn stored in what we call document collections, which is why MongoDB is classified as a NoSQL document database.

In conclusion, MongoDB database is a NoSQL document database.

## Database creation
We have seen that through MongoDB compass we could create a database, a collection and import the data in JSON format in a simple way.
We can also do it through the command interface or CLI of mongo.

In [ ]:
#$ mongoimport --db nameOfTheDatabase --collection nameOfTheCollection --file file.json

In [ ]:
# mongoimport --db Ironhack --collection restaurants --file restaurant.json

We are located in the terminal in the folder where we have downloaded the json of "companies". What the command does is import into the ironhack database, within the companies collection, that json. If we enter a database name that does not exist or a collection that does not exist, MongoDB creates it for us automatically.

## Connection with Python

The first thing we are going to need to connect python with the MongoDB database server is to install the following library
```python
#!pip install pymongo
```
And remember: You have to [read the documentation](https://pymongo.readthedocs.io/en/stable/)

In [3]:
from pymongo import MongoClient
import pandas as pd
import time

### We connect to the server
The Mongo server has to be up and is normally running on port 27017, it always connects to this port by default

In [12]:
client = MongoClient("localhost:27017")

In [13]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [14]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local', 'meetech-database']

### We connect to the database

In [15]:
db = client["Ironhack"]

In [16]:
db.list_collection_names()

['bookstores',
 'HP',
 'posts',
 'companies',
 'restaurants',
 'nyrest',
 'districts',
 'nyneigh']

In [ ]:
#¬†database = ironhack
#¬†collection = restaurants

## Basic database management operations

### Create and delete collections from python

In [19]:
#client["Ironhack"]

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack')

In [21]:
# previously created through mongo compass
db.drop_collection("test")

{'nIndexesWas': 1, 'ns': 'Ironhack.test', 'ok': 1.0}

### We connect to a specific collection to make the queries

In [26]:
c = db.get_collection("restaurants")

In [27]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'restaurants')

## Queries in Mongo

To explore what the documents in my collection look like, what shape and what fields they have, I can go to Mongo Compass and explore the collection, or I can choose an unfiltered document.

![undocumento](../images/compass1.png)

In [ ]:
## Let's do it in Python

### `find_one` method
`collection.find_one(filter)`

In [30]:
result = c.find_one()
result

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [31]:
type(result)

dict

In [32]:
result["address"]

'228 City Road'

In [33]:
result.keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

# We want to search for Thai restaurants

```sql
-- Filter in SQL:
SELECT *
WHERE type_of_food = "Thai"
```

This would be the filter üëáüèª
```python
#¬†Filter in Python
{"type_of_food": "Thai"}
```

In [34]:
c.find_one({"type_of_food":"Thai"})

{'_id': ObjectId('55f14312c7447c3da7051b27'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
 'address': '376 Rayleigh Road',
 'address line 2': 'Essex',
 'name': '@ Thai',
 'outcode': 'SS9',
 'postcode': '5PT',
 'rating': 5.5,
 'type_of_food': 'Thai'}

### `find` method
`collection.find(filter)`

In [35]:
result = c.find({"type_of_food":"Thai"})
result

The `pymongo` collection method returns a Cursor:
- a Cursor is an iterator
- a Cursor has the `__next__` method (the `next` function returns the next element in the stream)
- `pymongo` does not fetch information until it is needed
- a Cursor has no `len`.

In [43]:
result = list(c.find({"type_of_food":"Thai"}))
result[0:2]

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [39]:
len(result)

40

In [46]:
names = []
for i in result:
    names.append(i["name"])
names[:5]

['@ Thai',
 '@ Thai Restaurant',
 '@ Thai Restaurant',
 'All Siam Thai Restaurant - Collection Only',
 "Anna's Thai Restaurant"]

## projection
When a query is made in MongoDB using `.find()`, what the query returns is the set of documents corresponding to the query. By default, the complete documents with all their fields will be returned. Although we can select the fields of a document that we want to return the query, or what is the same, make a MongoDB Projection.
If we want to select several fields, we simply have to indicate the name of the field followed by a 1. Or use a 0 to eliminate the fields to be displayed:

The `_id` field is returned by default

Syntax:
`collection.find(filter, projection)`

In [55]:
filter_ = {"type_of_food":"Thai"}
projection = {"name":1, "_id":0}

result = list(c.find(filter_, projection))
result[:4]

[{'name': '@ Thai'},
 {'name': '@ Thai Restaurant'},
 {'name': '@ Thai Restaurant'},
 {'name': 'All Siam Thai Restaurant - Collection Only'}]

In [57]:
[i["name"] for i in result][:5]

['@ Thai',
 '@ Thai Restaurant',
 '@ Thai Restaurant',
 'All Siam Thai Restaurant - Collection Only',
 "Anna's Thai Restaurant"]

In [65]:
filter_ = {"type_of_food":"Pizza", "rating":6}
projection = {"_id":0}


result = list(c.find(filter_, projection))

In [63]:
result = list(c.find({"type_of_food":"Pizza", "rating":6}, {"_id":0}))

In [66]:
df = pd.DataFrame(result)
df

,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6,Pizza
1,http://www.just-eat.co.uk/restaurants-alcatraz...,127 Christchurch Road,Bournemouth,Alcatraz Caffe Bournemouth,BH1,1EP,6,Pizza
2,http://www.just-eat.co.uk/restaurants-aspendos...,67 High Street,Dymchurch,Aspendos,TN29,0NH,6,Pizza
3,http://www.just-eat.co.uk/restaurants-barista-...,24 Ballards Lane,London,Barista House Restaurant & Cafe - Collection Only,N3,2BJ,6,Pizza
4,http://www.just-eat.co.uk/restaurants-bellapan...,196 Harvie Avenue,Glasgow,Bella Panini,G77,6UT,6,Pizza
5,http://www.just-eat.co.uk/restaurants-bestpizz...,113 Mungo Park Road,Rainham,Best Pizza,RM13,7PP,6,Pizza
6,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza
7,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza

## Other methods

### `distinct`
How many distinct values ‚Äã‚Äãdoes a field have in the entire collection?

In [67]:
c.distinct("rating")

[1, 1.5, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 100, 'Not yet rated']

In [69]:
c.distinct("type_of_food")[:10]

['*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers']

In [77]:
list(c.find({"type_of_food":"Azerbaijan"}))[:2]

[{'_id': ObjectId('55f14313c7447c3da7052096'),
  'URL': 'http://www.just-eat.co.uk/restaurants-azerbaijanrestaurant-w6/menu',
  'address': '291-293 King Street',
  'address line 2': 'London',
  'name': 'Azerbaijan Restaurant',
  'outcode': 'W6',
  'postcode': '9NH',
  'rating': 5,
  'type_of_food': 'Azerbaijan'},
 {'_id': ObjectId('55f14313c7447c3da7052097'),
  'URL': 'http://www.just-eat.co.uk/restaurants-azerbaijanrestaurant-w6/menu',
  'address': '291-293 King Street',
  'address line 2': 'London',
  'name': 'Azerbaijan Restaurant',
  'outcode': 'W6',
  'postcode': '9NH',
  'rating': 5,
  'type_of_food': 'Azerbaijan'}]

### `count`
Returns the count of documents that would match a find() query for the collection or view. The db.collection.count() method does not perform the find() operation, but instead counts and returns the number of results that match a query.
Syntax:
     
`collection.count_documents(filter)`

In [80]:
c.count_documents({})

2549

In [81]:
c.count_documents({"type_of_food":"Middle Eastern"})

14

In [85]:
c.count_documents({"type_of_food":"Spanish"})

1

In [89]:
list(c.find({"type_of_food":"Spanish"}))

[{'_id': ObjectId('55f14313c7447c3da70521ed'),
  'URL': 'http://www.just-eat.co.uk/restaurants-barcelonase22/menu',
  'address': '481 Lordship Lane',
  'address line 2': 'East Dulwich',
  'name': 'Barcelona',
  'outcode': 'SE22',
  'postcode': '8JY',
  'rating': 4.5,
  'type_of_food': 'Spanish'}]

### `sort`
We can `sort` the result of a `find`

`1` --> Sort ascending
`-1` --> Descending order

In [ ]:
#¬†filter -> where
#¬†projection -> select
#¬†sort -> order by

In [93]:
#c.distinct("type_of_food")

In [103]:
filter_ = {"type_of_food":"Sri-lankan"}
projection = {"name":1, "_id":0, "rating":1}
#sort = {"rating":-1} :( )

list(c.find(filter_, projection).sort("rating", -1))

[{'name': 'Ayubowan', 'rating': 6},
 {'name': 'Ale & Spice', 'rating': 5.5},
 {'name': 'Amras Sri Lankan & South Indian Restaurant (HMC)', 'rating': 5},
 {'name': 'Annamma Spices', 'rating': 3.5},
 {'name': 'Annamma Spices', 'rating': 3.5}]

### `limit`

We can `limit` the result of a `find`

In [105]:
filter_ = {"type_of_food":"Sri-lankan"}
projection = {"name":1, "_id":0, "rating":1}

list(c.find(filter_, projection).sort("rating", -1).limit(2))

[{'name': 'Ayubowan', 'rating': 6}, {'name': 'Ale & Spice', 'rating': 5.5}]

### `skip`
We can `skip` some results of a `find`
Call the skip() method on a cursor to control where MongoDB starts returning results. This approach can be useful for implementing paginated results.

[FROM THE DOCS](https://www.mongodb.com/docs/manual/reference/method/cursor.skip/)

If using `skip()` with `sort()`, be sure to include at least one field in your sort that contains unique values, before passing results to skip().

Sorting on fields that contain duplicate values may return an inconsistent sort order for those duplicate fields over multiple executions, especially when the collection is actively receiving writes.

In [112]:
filter_ = {"type_of_food":"Sri-lankan"}
projection = {"name":1, "_id":0, "rating":1}

list(c.find(filter_, projection).sort("rating", -1).skip(3))

[{'name': 'Annamma Spices', 'rating': 3.5},
 {'name': 'Annamma Spices', 'rating': 3.5}]

In [ ]:
#Skip will skip the first n elements

In [126]:
list(c.find({"type_of_food":"Chinese", "rating":5.5}, {"_id":0, "name":1, "rating":1}).sort("name", 1).skip(1).limit(5))

[{'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '4 in Love', 'rating': 5.5}]

‚ö†Ô∏è: `skip` --> docs

## Typical query operators
Query operators are preceded by the dollar sign `$`.

### Greater than / Less than
Is a numeric field greater than or less than a given value

In [130]:
list(c.find({"rating":5.5}))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b35'),
  'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'address': '113 Poulton Road',
  'address line 2': 'Merseyside',
  'name': '113 Fish Bar',
  'outcode': 'CH44',
  'postcode': '9DE',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [132]:
# greater than
filter_ = {"rating": {"$gt":5.5}}
list(c.find(filter_))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'address': '9 Broughton Hall Road',
  'address line 2': 'Broughton',
  'name': '@Indian.com',
  'outcode': 'CH4',
  'postcode': '0QR',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'}]

In [133]:
# greater than or equal
filter_ = {"rating": {"$gte":3}}
list(c.find(filter_))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'}]

In [134]:
# lesser than
filter_ = {"rating": {"$lt":3}}
list(c.find(filter_))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b4b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-280degreesafrican-nw6/menu',
  'address': '280 Kilburn High Road',
  'address line 2': 'London',
  'name': '280 Degrees African & Nigerian Restaurant',
  'outcode': 'NW6',
  'postcode': '2BY',
  'rating': 2.5,
  'type_of_food': 'African'},
 {'_id': ObjectId('55f14312c7447c3da7051b4c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-280degreesafrican-nw6/menu',
  'address': '280 Kilburn High Road',
  'address line 2': 'London',
  'name': '280 Degrees African & Nigerian Restaurant',
  'outcode': 'NW6',
  'postcode': '2BY',
  'rating': 2.5,
  'type_of_food': 'African'}]

In [136]:
# lesser than or equal
filter_ = {"rating": {"$lte":3}}
list(c.find(filter_))[:2]

[{'_id': ObjectId('55f14312c7447c3da7051b2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'},
 {'_id': ObjectId('55f14312c7447c3da7051b2d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'}]

### `exists`
When <boolean> is true, $exists matches documents that contain the field, including documents where the field value is null. If <boolean> is false, the query returns only documents that do not contain the field

In [138]:
c.count_documents({})

2549

In [143]:
list(c.find({"rating": {"$exists":False}}))

[{'_id': ObjectId('62e1201070eca9b85aa487ba'),
  'hey': 'hi',
  'hello': '789',
  '1000': 1}]

### `regex`
It offers the possibility of using regular expressions to search for patterns in queries.

In [147]:
condition = {"$regex": ".*Halal.*"}
query = {"name": condition}


list(c.find(query))

[{'_id': ObjectId('55f14312c7447c3da7051c0c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-acha-halal-chinese-cuisine-birmingham/menu',
  'address': '7 Heybarnes Road',
  'address line 2': 'Birmingham',
  'name': 'Acha Halal Chinese Cuisine',
  'outcode': 'B10',
  'postcode': '9HR',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522e9'),
  'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'address': '24 Nicholson Square',
  'address line 2': 'Edinburgh',
  'name': 'Beirut Lebanese Halal Restaurant',
  'outcode': 'EH8',
  'postcode': '9BX',
  'rating': 4.5,
  'type_of_food': 'Lebanese'},
 {'_id': ObjectId('55f14313c7447c3da70522ea'),
  'URL': 'http://www.just-eat.co.uk/restaurants-beirut-eh8/menu',
  'address': '24 Nicholson Square',
  'address line 2': 'Edinburgh',
  'name': 'Beirut Lebanese Halal Restaurant',
  'outcode': 'EH8',
  'postcode': '9BX',
  'rating': 4.5,
  'type_of_food': 'Lebanese'}]

In [151]:
condition = {"$regex": ".*\d+.*"}
query = {"name": condition}
projection = {"_id":0, "name":1}


list(c.find(query, projection))[:4]

[{'name': '007 Takeaway'},
 {'name': '042 Restaurant & Bar'},
 {'name': '042 Restaurant & Bar'},
 {'name': '042 Restaurant & Bar'}]

### `and`
Performs a logical AND operation on an array of one or more expressions (for example, <expresi√≥n1>, <expresi√≥n2>, etc.), and selects the documents that satisfy all expressions in the array. The $and operator uses short-circuit evaluation. If the first expression (for example, <expresi√≥n1>) evaluates to false, MongoDB will not evaluate the remaining expressions.

AND Syntax
`find({"$and": [cond1, cond2]})`

In [ ]:
#¬†pizza
# rating > 3
#¬†numbers in the name

In [152]:
filter_1 = {"type_of_food":"Pizza"}
filter_2 = {"rating": {"$gt": 3}}
filter_3 = {"name": {"$regex":".*\d+.*"}}

In [163]:
all_conditions = [filter_1, filter_2, filter_3]

In [162]:
list(c.find({"$and": 
             [{"type_of_food":"Pizza"}, 
              {"rating": {"$gt": 3}}, 
              {"name": {"$regex":".*\d+.*"}}]}, 
        {"_id":0, "name":1}))[:1]

[{'name': '007 Takeaway'}]

In [169]:
list(c.find({"$and": all_conditions}, {"_id":0, "name":1}))[:1]

[{'name': '007 Takeaway'}]

In [172]:
list(c.find({"type_of_food":"Pizza", "rating": {"$gt": 3}, "name": {"$regex":".*\d+.*"}}))[:1]

[{'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'}]

### `or`
The or operator performs a logical OR operation on an array of two or more expressions and selects the documents that satisfy at least one of the expressions.
The operator $or tiene la siguiente sintaxis:      
`collection.find({"$or": [condition1, condition, condition3 ]})`

In [179]:
thai = {"type_of_food":"Thai"}
spanish = {"type_of_food":"Spanish"}
good = {"rating": {"$gt": 4}}
zipcode = {"outcode": "SW9"}

In [177]:
# Spanish: no matter the rating
#¬†Thai: greater than 4 only

list(c.find({"$or": 
             [{"$and": [thai, good]}, # Either these two conditions are met at once
              spanish]}))[:2] #¬†or this one is met

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [180]:
list(c.find({"$or": 
             [{"$and": [thai, zipcode]}, # Either good thai close to Hugo
              {"$and": [spanish, good]}]}))[:2] #¬†or good spanish

[{'_id': ObjectId('55f14313c7447c3da70520bb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-baanthai/menu',
  'address': '401 Coldharbour lane',
  'address line 2': 'London',
  'name': 'Baan Thai',
  'outcode': 'SW9',
  'postcode': '8LQ',
  'rating': 4,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14313c7447c3da70520bc'),
  'URL': 'http://www.just-eat.co.uk/restaurants-baanthai/menu',
  'address': '401 Coldharbour lane',
  'address line 2': 'London',
  'name': 'Baan Thai',
  'outcode': 'SW9',
  'postcode': '8LQ',
  'rating': 4,
  'type_of_food': 'Thai'}]

In [203]:
kebab_regex = {"$regex":".*Kebab.*"}
kebab = {"name": kebab_regex}
bad_score = {"$lt": 3}
bad = {"rating": bad_score}


query = {"name": {"$regex":".*Kebab.*"}, "rating": {"$lt": 4}}
list(c.find(query))[:1]

[{'_id': ObjectId('55f14312c7447c3da7051cfe'),
  'URL': 'http://www.just-eat.co.uk/restaurants-al-kebab-hut-milton-keynes/menu',
  'address': '3 Stratford Road',
  'address line 2': 'Milton Keynes',
  'name': 'Al Kebab Hut',
  'outcode': 'MK13',
  'postcode': '7LY',
  'rating': 3.5,
  'type_of_food': 'Kebab'}]

### `ne`
not equal
Selects the documents in which the value of the field is not equal to the specified value. This includes documents that do not contain the field.

In [204]:
# not_pizza 

not_pizza = {"$ne": "Pizza"}

In [219]:
result = list(c.find({"type_of_food": not_pizza, "rating":4}))
result[:1]

[{'_id': ObjectId('55f14312c7447c3da7051b51'),
  'URL': 'http://www.just-eat.co.uk/restaurants-3in1xtra/menu',
  'address': '67-69 Elmbank Street',
  'address line 2': 'Glasgow',
  'name': '3 In 1 Xtra',
  'outcode': 'G2',
  'postcode': '4PQ',
  'rating': 4,
  'type_of_food': 'Curry'}]

In [218]:
{i["type_of_food"] for i in result if "name" in i}

{'*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers',
 'Cakes',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Curry',
 'Desserts',
 'English',
 'Ethiopian',
 'Fish & Chips',
 'Greek',
 'Grill',
 'Healthy',
 'Ice Cream',
 'Japanese',
 'Kebab',
 'Korean',
 'Lebanese',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Milkshakes',
 'Moroccan',
 'Nigerian',
 'Pakistani',
 'Pasta',
 'Peri Peri',
 'Persian',
 'Pick n Mix',
 'Polish',
 'Portuguese',
 'Punjabi',
 'Russian',
 'Sandwiches',
 'South Curry',
 'Spanish',
 'Sri-lankan',
 'Sushi',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese'}

### `in`
The in operator selects documents in which the value of a field is equal to any value in the specified array. To specify a $in, use the following syntax:
```python
{ field: { $in expression: [<value1>, <value2>, ... <valueN> ] } }
 ```

In [222]:
list(c.find({"rating": {"$in": [1, 2, 3]}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'},
 {'_id': ObjectId('55f14312c7447c3da7051b2d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'}]

### `nin`

Syntax:
```python
{ field: { $nin: [ <valor1>, <valor2> ... <valorN> ]} }
```

not in selects the documents in which

- field value is not in the specified array
- the field does not exist.

In [223]:
list(c.find({"rating": {"$nin": [1, 2, 3]}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'}]

If I don't want to be given those that don't have that field, I would have to do an AND

## Update
Modifies an existing document or documents in a collection. The method can modify specific fields of an existing document(s) or replace an existing document entirely, depending on the update parameter.
Beware, this action cannot be undone.
Syntax:
```python
collection.update_many(condition/filter, update)
```

We can update a field with `$set` y con `$unset` we delete it

In [232]:
list(c.find({"rating": 2.5}))[:1]

[{'_id': ObjectId('55f14312c7447c3da7051b4b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-280degreesafrican-nw6/menu',
  'address': '280 Kilburn High Road',
  'address line 2': 'London',
  'name': '280 Degrees African & Nigerian Restaurant',
  'outcode': 'NW6',
  'postcode': '2BY',
  'rating': 2.5,
  'type_of_food': 'African'}]

In [234]:
c.update_many(
    {"rating": 2.5},
    {"$set": 
         {"rating": 50000}})

pd.read_sq_query(query, engine) #read, get a tabel
engine.execute("create view")


list(c.find())
c.update_many()

## Query 7 from the lab . All the companies that have a null type of value on the category_code field.

In [ ]:
#https://www.mongodb.com/docs/manual/reference/operator/query/type/

#¬†{"$type": 10}
#¬†{"$type": "null"}

## Delete
Removes from a collection all documents that match the filter.
Syntax:
```python
c.delete_many(condition/filter)
```

In [236]:
c.delete_many({"rating": {"$gte": 500}})

##¬†Insert

We insert documents in the collection
Syntax
```python
db.collection.insert()
```

In [237]:
document = {
    "name": "clara",
    "location": "bcn",
    "language": "cat", 
}

In [238]:
c.insert_one(document)

In [239]:
list(c.find({"name":"clara"}))

[{'_id': ObjectId('635910f48607690e50aa76c6'),
  'name': 'clara',
  'location': 'bcn',
  'language': 'cat'}]

## Extra info
Nested query fields

In [242]:
car = {"make": "fiat", "year":1900, "randomkey": {"random": "nested valueeee"}}

In [243]:
car

{'make': 'fiat', 'year': 1900, 'randomkey': {'random': 'nested valueeee'}}

In [245]:
car["randomkey"]["random"]

'nested valueeee'

```javascript
const car = {make: "fiat", year:1900, 
             randomkey: {random: "nested valueeee"}}

console.log(car)
console.log(car.make)
console.log(car.randomkey.random)


`key.value.nested.value` 

```


JSON
JavaScript Object Notification

same type of data, different name

## Summary
Your turn, what have we learned today?

- (R)read: filters, projections, limits, and sorts (skip)
    - find_one
    - find
    - count total of documents
    - get list of unique values 
    
- (U)update
    - update_many
    - we can update the value of something to be null or nothing
    
- (D)delete documents
    - delete_many

- (C)insert
    - insert documents

- Operators
    - $gte, $lt, and so on
    - $and, $or
    - $ne, $nin, $in
    - $regex
    - $exists, $type: 10 (null)
- Explore collections through compass. We can also connect to databases on the cloud

- pymongo is the way to work with python and mongo: df into databases

## Further Materials
- Mongo courses developed directly by MongoDB (free and VERY COMPLETE) [HERE](https://university.mongodb.com/)
- What is mongo: [advanced interesting concepts not seen in class](https://openwebinars.net/blog/what-is-mongodb/)
- Beginner`s guide mongo with [python](https://www.analyticsvidhya.com/blog/2020/02/mongodb-in-python-tutorial-for-beginners-using-pymongo/)