In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.svm import SVR
import os
from sys import platform

 Table

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `test.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [18]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [19]:
df_train.sample()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
10879,10879,1.93,Premium,H,VS2,62.8,58.0,7.91,7.86,4.95,9.762

In [20]:
df_test.sample()

        id  carat        cut color clarity  depth  table     x    y     z
5837  5837    0.5  Very Good     H     VS1   62.5   58.0  5.04  5.1  3.17

In [22]:
df_train.shape

(40455, 11)

In [21]:
df_test.shape

(13485, 10)

In [ ]:
SUBMISSION -> test

In [3]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
37770,37770,0.27,Ideal,E,VVS2,61.9,56.0,4.16,4.19,2.58,6.633

In [4]:
print(df_test.shape[0])
df_test.sample()

13485

          id  carat      cut color clarity  depth  table     x     y     z
11092  11092    2.3  Premium     J     SI1   59.6   59.0  8.61  8.56  5.12

#Â Cleaning, processing, feature selection, etc

In [5]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   1.02   63.2   58.0  6.36  6.40  4.03  8.928
1          1   0.35   61.0   57.0  4.54  4.57  2.77  6.477
2          2   0.31   60.5   58.0  4.43  4.40  2.67  6.810
3          3   0.38   61.4   56.0  4.66  4.69  2.87  6.824
4          4   1.64   61.8   56.0  7.59  7.60  4.69  9.776
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   1.20   62.2   55.0  6.77  6.81  4.23  9.149
40451  40451   1.50   64.2   56.0  7.30  7.09  4.62  9.077
40452  40452   1.06   61.9   55.0  6.54  6.58  4.06  8.892
40453  40453   0.31   60.1   58.0  4.40  4.38  2.64  6.385
40454  40454   2.00   60.8   58.0  7.99  8.07  4.88  9.455

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [6]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [7]:
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don treinin")

In [8]:
y_pred = regressor.predict(X_test)

In [9]:
np.sqrt(mean_squared_error(y_pred, y_test))

1.0075648271364714

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [10]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

          id  carat  depth  table     x     y     z
11725  11725    0.6   62.8   59.0  5.39  5.35  3.37

#Â Predict on the `test.csv`

In [11]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don predictin")

#Â DF with two columns

In [12]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x     y     z
9979  9979   0.34   62.1   57.0  4.52  4.46  2.79

In [13]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [14]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

        id     price
4435  4435  7.780009

#Â Export (index=False)

In [15]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica redi for submission")

In [23]:
df_for_submission.head()

   id     price
0   0  7.758326
1   1  7.758237
2   2  7.758121
3   3  7.758523
4   4  7.758184