# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li></ul></li><li><span><a href="#Titles" data-toc-modified-id="Titles-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Titles</a></span><ul class="toc-item"><li><span><a href="#Code" data-toc-modified-id="Code-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations</a></span><ul class="toc-item"><li><span><a href="#built-in-and-imported-things" data-toc-modified-id="built-in-and-imported-things-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>built-in and imported things</a></span></li></ul></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Strings (character strings)</a></span></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-string-to-int" data-toc-modified-id="Convert-string-to-int-7.2.3"><span class="toc-item-num">7.2.3&nbsp;&nbsp;</span>Convert string to int</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Cell types in Jupyter Notebook

###¬†Markdown

- Hello!
- #¬†Headers
- ##¬†Titles
- **bold**
- *italics*

```bash
ls .
```

```python
print("Hello world!")
```

[This is google](www.google.com)

### Code

In [31]:
print("Hello world!")

Hello world!

### Shortcuts

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

- `a` for new cell above
- `b` for new cell below
- `d + d for shortcut mode

- `m` or `y` for switching between markdwon and code

# Type of data
## Integer numbers

In [37]:
int_number = 4

In [38]:
type(int_number)

int

In [39]:
some_other_number = 4.5

In [40]:
type(some_other_number)

float

In [41]:
num = 4.0

In [42]:
type(num)

float

## Real numbers (floats)

In [50]:
one_float = 3.9983873684
type(one_float)

float

In [49]:
another_float = 4.0 #¬†float
type(another_float)

float

In [51]:
not_a_float = 4 #int
type(not_a_float)

int

In [2]:
a = 4

In [54]:
a = "5"

In [57]:
type(a)

int

In [4]:
#¬†Check for the Kernel > Restart OR Restar and run all

## Basic operations

In [5]:
a = 5
b = 7

In [6]:
#¬†sum
5 + 7

12

In [7]:
a + b

12

In [8]:
my_sum = a + b
my_sum

12

In [10]:
print(my_sum)

12

In [12]:
print(a)
print(b)

5
7

In [13]:
print(a)
b

5

7

In [16]:
#¬†substraction
substraction = a - b
substraction

-2

In [17]:
# product
my_product = a * b

In [19]:
print(my_product)

35

In [21]:
# division
my_division = a / b
my_division

0.7142857142857143

In [23]:
#¬†floor division
c = 454734
d = 37373

In [24]:
#¬†regular division

c / d

12.167447087469563

In [25]:
my_floor_division = c // d
my_floor_division #¬†<- me being lazy to write print("")

12

In [30]:
#¬†modulo: will give me the remainder of the division

q = 10
p = 3 


my_modulo = q % p
my_modulo

1

In [31]:
my_second_module = p % q
my_second_module

3

In [34]:
# power

my_power = 2 ** 2
my_power

4

In [37]:
#¬†rounding a number

print(round(0.93837363)) #rounds up
print(round(0.07253)) #¬†rounds down

1
0

###¬†built-in and imported things

methods = functions = things that do things

- print is a method
- sum is a method

some are built-in into python version
asome need to be imported

In [39]:
# pip/conda install something (library)
#¬†import the library

In [41]:
import math

In [44]:
# rounding down

print(math.floor(76547834.2399))
print(math.floor(76547834.9999))

76547834
76547834

In [45]:
# rounding up

print(math.ceil(76547834.2399))
print(math.ceil(76547834.9999))

76547835
76547835

In [48]:
#¬†look up the documentaiton
#¬†On jupyter notebooks
    #¬†shift + tab
    #¬†tab again after you write the dot

In [46]:
"math" #¬†shift & tab

'math'

In [47]:
"math." #¬†tab

'math.'

## Strings (character strings)

In [49]:
"ndudsusisis"

'ndudsusisis'

In [50]:
type("ndudsusisis")

str

In [51]:
random_string = "ndudsusisis"
type(random_String)

str

In [52]:
a_string_a_number = "4"

In [53]:
another_string = '4'

In [54]:
another_string = '4' #quotes need to match

SyntaxError: EOL while scanning string literal (2315886196.py, line 1)

In [55]:
sentence = "I'm tired"

In [56]:
#sentence = 'I"m tired' #doesnt work
#sentence = 'I'm tired' #doesnt work either

In [59]:
multine_string = '''Hello,
my name is this name
sadsd
sd
sd
sd
sd
'''

In [61]:
multine_string_2 = """Hello,
my name is this name
sadsd
sd
sd
sd
sd
"""

In [63]:
print(multine_string_2)

Hello,
my name is this name
sadsd
sd
sd
sd
sd

In [62]:
multine_string_2

'Hello,\nmy name is this name\nsadsd\nsd\nsd\nsd\nsd\n'

In [ ]:
#¬†comment

In [74]:
one_string = "Hello "
other_string = "my name is ____"

In [72]:
greeting = one_string + other_string
greeting

'Hellomy name is ____'

In [68]:
new_greeting = "Hello" + " " + "my name is ___"
new_greeting

'Hello my name is ___'

In [77]:
one_string * 3

'Hello Hello Hello '

In [98]:
name = "Fer"
age = "üöÄ"

In [99]:
# Emojis are strings in the end

In [100]:
greeting = f"Hello my name is {name}, and my age is {age}" #f in the beginning
greeting_2 = "Hello my name is {}".format(name) #format in the end 
greeting_3 = "Hello my name is" + " " + name

In [101]:
greeting

'Hello my name is Fer, and my age is üöÄ'

In [89]:
greeting_2

'Hello my name is Fer'

In [90]:
greeting_3

'Hello my name is Fer'

In [106]:
first_name = "Sam"
last_name = "His last name"

In [107]:
f"First name is: {first_name}, last name is: {last_name}"

'First name is: Sam, last name is: His last name'

## Casting in Python

In [108]:
# int
#¬†floats
#¬†str

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

In [117]:
a = 4
b = 8.5

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

In [120]:
c = 0
type(c)

int

In [123]:
c = a + b + c
type(c)

float

In [ ]:
# int + int -> int

In [125]:
type(2 + 2)

int

In [135]:
num = 4
type(num)

int

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

In [109]:
a_str_num = "4"

In [110]:
# convert the string into a number

int(a_str_num)

4

In [111]:
float(a_str_num)

4.0

In [112]:
a_new_float = 4.89

In [113]:
type(a_new_float)

float

In [114]:
converted_float = int(a_new_float)
converted_float

4

In [115]:
str(a_new_float)

'4.89'

In [141]:
my_list = [1, 2, 3, 3, 1]
type(my_list)
print(my_list)

[1, 2, 3, 3, 1]

In [143]:
new_set_from_list = set(my_list)
new_set_from_list

#¬†sets are just unique lists

{1, 2, 3}

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

#### Convert string to int
Like the conversion to float above, we can convert from string to int using int().

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [148]:
name = input("Please enter your name: ")

Please enter your name: Venice

In [151]:
age = input("This is my age: ")

This is my age: 68

In [153]:
random = input()

sss

In [160]:
age_2 = int(input("Enter only a digit: "))

Enter only a digit: 71

In [ ]:
# Defensive programming: anticipating all the potential issues
#¬†you're might have
# preventive coding

In [161]:
age_2 - 10

61

In [154]:
a_greeting = f"Hello my name is {name} and my age is {age}, random {random}"
a_greeting

'Hello my name is Venice and my age is 68, random sss'

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [162]:
a_string = "this random example"

In [163]:
type(a_string)

str

In [165]:
type(print("this random example"))

this random example

NoneType

In [166]:
#¬†print gives a None

#¬†For functions if you return a print -> function returns None

## Format

### Format - 1

In [167]:
variable = 4
format_one = f"Something {variable}"
format_one

'Something 4'

### Format - 2

In [169]:
variable_2 = 4
format_two = "Something {}".format(variable)
format_two

'Something 4'

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of ‚Äúbuilt-in‚Äù functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [184]:
name = "this is a sentence"

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

In [185]:
capitalized = name.capitalize()
capitalized

'This is a sentence'

`upper` Returns a copy of the string with all characters in uppercase

In [186]:
name = name.upper()
name

'THIS IS A SENTENCE'

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [194]:
name = "Only SOme letters ARE upper"

In [196]:
name.isupper() #¬†checks for the whole thing

False

`lower` Returns a copy of the string with all lowercase characters

In [192]:
name = name.lower()
name

'this is a sentence'

`islower` is like isupper but....we check for lowercase

In [193]:
name.islower()

True

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [197]:
name

'Only SOme letters ARE upper'

In [198]:
name.swapcase()

'oNLY soME LETTERS are UPPER'

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [199]:
name.title()

'Only Some Letters Are Upper'

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values ‚Äã‚Äãin the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [201]:
one_list_of_strings = ["hello", "my", "name", "is", "something"]
one_list_of_strings

['hello', 'my', 'name', 'is', 'something']

In [216]:
new_sentence = " ".join(one_list_of_strings)
new_sentence

'hello my name is something'

In [215]:
new_sentence.capitalize()

'Hello my name is something'

In [217]:
# OR, alltogether:
" ".join(one_list_of_strings).capitalize()

'Hello my name is something'

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [222]:
phone_number = "+3412345678"

In [223]:
phone_number.startswith("+")

True

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

In [224]:
id_number = "12345678A"

In [225]:
id_number.endswith("A")

True

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values ‚Äã‚Äãare removed:

In [226]:
strings_with_spaces = "   sdsdsdd "

In [227]:
strings_with_spaces.strip()

'sdsdsdd'

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

In [228]:
strings_with_spaces.lstrip()

'sdsdsdd '

In [229]:
strings_with_spaces.rstrip()

'   sdsdsdd'

In [230]:
strings_with_spaces = strings_with_spaces.strip()
strings_with_spaces

'sdsdsdd'

In [231]:
strings_with_spaces

'sdsdsdd'

In [ ]:
# Always keep in mind that string operations
# return a copy instead of the changed variable

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [232]:
strings_with_spaces = "sdsdsdd "

In [233]:
strings_with_spaces.replace(" ", "")

'sdsdsdd'

In [238]:
phone_number = "+637839839+++"
phone_number.replace("+", "")

'637839839'

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [239]:
one_list = ["Hello", "my", "name"]
one_list

['Hello', 'my', 'name']

In [240]:
full_string = " ".join(one_list)
full_string

'Hello my name'

In [245]:
hi = "hello-my name is"
hi

'hello-my name is'

In [246]:
hi.split("-")

['hello', 'my name is']

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

### Lists

Lists can contain different types of data

In [253]:
a_list = [1, 2, "a string", 9.0]
a_list

[1, 2, 'a string', 9.0]

#### list methods
`append` Adds an item to the end of the list.

In [254]:
a_list.append("I am appending this")
a_list

[1, 2, 'a string', 9.0, 'I am appending this']

In [256]:
a_list_of_lists = [1, 2, 'a string', 9.0, [1, 2]]
a_list_of_lists

[1, 2, 'a string', 9.0, [1, 2]]

In [262]:
for i in a_list_of_lists:
    print(f" {i} is type: {type(i)}")

 1 is type: <class 'int'>
 2 is type: <class 'int'>
 a string is type: <class 'str'>
 9.0 is type: <class 'float'>
 [1, 2] is type: <class 'list'>

`extend` Extend the list by adding all the items in the iterable to it

In [264]:
a_list_of_lists.extend([9, 0])
a_list_of_lists

[1, 2, 'a string', 9.0, [1, 2], 9, 0, 9, 0]

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [265]:
a_list_of_lists

[1, 2, 'a string', 9.0, [1, 2], 9, 0, 9, 0]

In [268]:
a_list_of_lists.insert(4, "a string")
a_list_of_lists

['a string', 'a string', 1, 2, 'a string', 'a string', 9.0, [1, 2], 9, 0, 9, 0]

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [269]:
a_list_of_lists.remove(1)
a_list_of_lists

['a string', 'a string', 2, 'a string', 'a string', 9.0, [1, 2], 9, 0, 9, 0]

In [270]:
a_list_of_lists.remove("a string")
a_list_of_lists

['a string', 2, 'a string', 'a string', 9.0, [1, 2], 9, 0, 9, 0]

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

In [275]:
popped_number = a_list_of_lists.pop()
popped_number

[1, 2]

In [276]:
a_list_of_lists

['a string', 2, 'a string', 'a string', 9.0]

`clear` Removes all elements from the list

In [279]:
a_list_of_lists.clear()
a_list_of_lists

[]

`count` Returns the number of times x appears in the list.

In [282]:
list_again = ['a string', 2, 'a string', 'a string', 9.0, [1, 2], 9, 0, 9, 0, 9]
list_again

['a string', 2, 'a string', 'a string', 9.0, [1, 2], 9, 0, 9, 0, 9]

In [283]:
list_again.count(9)

4

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

In [308]:
list_of_numbers = [1, 2, 90, 67, 2]

In [309]:
list_of_numbers.sort()
list_of_numbers

[1, 2, 2, 67, 90]

`list.reverse()`
Reverses list items in place.

In [310]:
list_of_numbers.reverse()
# ?

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

In [311]:
list_of_numbers

[90, 67, 2, 2, 1]

In [312]:
list_of_numbers[4] # iterable starts at 0.

1

In [313]:
list_of_numbers[0:3] # The 3 is actually the 2

# 0, 1, 2 elements

[90, 67, 2]

In [305]:
len(list_of_numbers)

6

In [315]:
list_of_numbers[-2]

2

In [316]:
list_of_numbers[::-1]

[1, 2, 2, 67, 90]

In [321]:
# start, stop, step
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[3:7:2])

[4, 6]

In [326]:
a[::-2]

[8, 6, 4, 2]

In [325]:
a[::-2]

[8, 6, 4, 2]

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

In [329]:
my_tup = (1, 2)
type(my_tup)

tuple

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values ‚Äã‚Äãin the `return` of a function

In [334]:
def addition (a, b):
    return f"The number is {a + b}", "another string"

In [335]:
addition(3, 4)

('The number is 7', 'another string')

In [337]:
another_tuple = (1, 2, "string", [1, 2])
another_tuple

(1, 2, 'string', [1, 2])

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

In [338]:
my_list = [90, 1, 2, 34, 34]
my_list

[90, 1, 2, 34, 34]

In [342]:
my_list[0]

90

In [341]:
my_set = set(my_list)
my_set

{1, 2, 34, 90}

`add` Adds an element to the set

In [343]:
my_set.add(100)
my_set

{1, 2, 34, 90, 100}

In [345]:
my_set.add(3)
my_set

{1, 2, 3, 34, 90, 100}

`clear` Clears all elements of the set

In [347]:
my_set.clear()
my_set

set()

`copy` Returns a copy of the set

In [348]:
my_set = {1, 2, 34, 90}
my_set

{1, 2, 34, 90}

In [350]:
new_one = my_set.copy()
new_one

{1, 2, 34, 90}

In [351]:
print(new_one)
print(my_set)

{1, 2, 34, 90}
{1, 2, 34, 90}

In [ ]:
set

In [353]:
#help(set)

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

In [357]:
my_set

{1, 2, 34, 90}

In [364]:
another_set = {2, 3, 4, 34, 90}

In [365]:
my_set.difference(another_set)

{1}

In [366]:
another_set.difference(my_set)

{3, 4}

`discard` Removes the specified element

In [367]:
another_set

{2, 3, 4, 34, 90}

In [368]:
another_set.discard(3)

In [369]:
another_set

{2, 4, 34, 90}

`remove` Removes the specified element

In [370]:
my_set.remove(2)

In [371]:
my_set

{1, 34, 90}

In [372]:
my_set.remove(90)

In [373]:
my_set

{1, 34}

In [375]:
my_set.remove(34)

In [377]:
my_set

{1}

`intersection()` Returns a set that is the intersection of two or more sets

In [378]:
set_2 = {1, 2, 3, 4, 5}
set_3 = {3, 4, 5, 6, 7}

In [379]:
set_2.intersection(set_3)

{3, 4, 5}

`issubset` Returns whether or not another set contains this set

In [380]:
set_4 = {2, 4, 6}
set_5 = {1, 2, 3, 4, 5, 6}

In [382]:
set_4.issubset(set_5) # this returns a boolean

True

In [383]:
set_5.issubset(set_4)

False

`issuperset` Returns whether this set contains another set or not

In [385]:
set_5.issuperset(set_4)

True

`pop` Removes an element from the set. It eliminates the last element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

`union` Returns a set containing the union of sets

In [386]:
set_4.union(set_5) # addition of both

{1, 2, 3, 4, 5, 6}

`update` Updates the set with another set, or any other iterable

### Dictionaries

In [ ]:
#¬†{key:value, key:value}

In [391]:
sam_list = ["Sam", "Netherlands", "25", ["climbing", "reading"], "coco"]

In [392]:
venice = ["Venice", "US", 25, ["surfing", "cooking"], "no pets :((("]

In [396]:
sam = {
    "Name":"Sam",
    "Country": "NL",
    "Age": 25,
    "Interests": ["thingies", "list"],
    "Pet":"coco"
}

In [397]:
type(sam)

dict

`clear` Removes all elements from the dictionary

`items()` Returns a list containing one tuple for each key-value pair

In [398]:
sam.items()

dict_items([('Name', 'Sam'), ('Country', 'NL'), ('Age', 25), ('Interests', ['thingies', 'list']), ('Pet', 'coco')])

`keys` Returns a list of the keys in the dictionary

In [404]:
sam.keys()

dict_keys(['Name', 'Country', 'Age', 'Interests', 'Pet'])

In [403]:
list(sam.keys())

['Name', 'Country', 'Age', 'Interests', 'Pet']

In [406]:
list(sam.keys())[1]

'Country'

`values` Returns a list of all values ‚Äã‚Äãin the dictionary

In [408]:
list(sam.values())

['Sam', 'NL', 25, ['thingies', 'list'], 'coco']

`pop()` Removes the element with the specified key. It returns me the value.

In [409]:
sam.pop("Age")

25

In [410]:
sam

{'Name': 'Sam',
 'Country': 'NL',
 'Interests': ['thingies', 'list'],
 'Pet': 'coco'}

`popitem` Removes the last inserted key-value pair

In [411]:
sam.popitem()

('Pet', 'coco')

In [412]:
sam

{'Name': 'Sam', 'Country': 'NL', 'Interests': ['thingies', 'list']}

`update` Updates the dictionary with the specified key-value pairs

In [ ]:
#¬†update country NL -> ES

In [417]:
sam.update({"Country":"ES"})

In [420]:
sam["Country"] = "EN"

In [424]:
sam["Interests"] # to access the value of ONE key

['thingies', 'list']

In [ ]:
#¬†Dictionaries don't have duplicated Keys

In [433]:
sam = {'Name': 'Sam', 'Country': 'EN', 'Interests': ['thingies', 'list'], "name": "EN"}

In [434]:
sam

{'Name': 'Sam',
 'Country': 'EN',
 'Interests': ['thingies', 'list'],
 'name': 'EN'}

In [441]:
#¬†Q Joan: do they have to be unique?
#¬†A: yes

In [442]:
#¬†Q Marc: adding a new pair of key:value

sam["new_key"] = "new_value"
sam

{'Name': 'Sam',
 'Country': 'EN',
 'Interests': ['thingies', 'list', 'this other hobby', 'this other hobby'],
 'name': 'EN',
 'new_key': 'new_value'}

In [443]:
#¬†Q Marc: appending something to the list, the list being a value of the dictionary

sam["Interests"].append("this other hobby")
sam

{'Name': 'Sam',
 'Country': 'EN',
 'Interests': ['thingies',
  'list',
  'this other hobby',
  'this other hobby',
  'this other hobby'],
 'name': 'EN',
 'new_key': 'new_value'}

## Summary
It's your turn, what have we learned today?

- Jupyter notebooks
    - Types of cells
        - Markdown ("m")
        - Code  ("y")
    - Shortcuts
        - Runnings: ctrl + enter OR shift + enter
        - New cells, above/below, delete (d+d)
        - `alt + enter`: to run and insert new cell
    - **Kernel: cached memory -> we'll need to restart/reset some times**
    - You can stop if it gets stuck here: [*] (stop by using the square)

- Different types of data
    - str
    - int
    - float
    - bool
    
- Different data structures
    - list
    - dictionaries
    - tuples
    - sets
    
- Casting
    - int, float, str, list, tuple
 
- Strings
    - input
    - formatting
        - f "{variable}"
        - .format(variable)

- Dictionaries
    - Unique values
    - Key:value pairs
    - Doesn't have an order
    - Efficient way to store data


- You can import libraries written by someone else (if they're installed)